@import './styles/variables.scss';
@import './styles/utilities.scss';
/** Style **/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: $base-color;
  margin-bottom: toRem(62);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn {
  width: 100%;
  height: auto;
  border: 0;
  color: $white-color;
  @include libRem(font-size, 18);
  cursor: pointer;

  &.btn-search {
    width: 42px;
    height: 38px;
    border-radius: 0 toRem(2) toRem(2) 0;
    background-color: #EEEEEE;
  }

  &.btn-primary {
    width: 100%;
    max-width: 247px;
    height: 44px;
    background-color: #3483FA;
    border-radius: toRem(4);
  }
}

.breadcrumbs {
  padding: 14px 0;

  p {
    margin: 0;
    @include libRem(font-size, 14);
    font-style: normal;
    font-weight: 400;
    color: #9E9E9E;

    span {
      &.crumb {
        &::after {
          display: inline-block;
          content: '>';
          margin: 0 toRem(5);
        }

      }

      &:last-child {
        font-weight: 600;

        &::after {
          display: none;
        }
      }
    }
  }
}


@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  /* Retina-specific stuff here */

}